@mixin icon($icon, $colour: null, $fsize: null){
    &::before{
        content: $icon;
        color: $colour;
        font-size: $fsize;
        @content;
    }
}

@mixin mq($brk){
    $value: map-get($break-points, $brk);
    @media screen and (min-width: $value) {
        &{
            @content;
        }
    }
}

@mixin mq-range($l-brk, $u-brk){
    $lb: map-get($break-points, $l-brk);
    $ub: map-get($break-points, $u-brk);
    @media screen and (min-width: $lb) and (max-width: ($ub - 1)) {
        &{
            @content;
        }
    }
}

@mixin hide-at-viewport($brk, $disp: block){
    display: $disp;

    @include mq($brk){
        display: none;
    }
}

@mixin show-at-viewport($brk, $disp: block){
    display: none;

    @include mq($brk){
        display: $disp;
    }
}


@mixin abs-pos($t: null, $r: null, $b: null, $l: null){
    position: absolute;
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
}

@mixin fixed-pos($t: null, $r: null, $b: null, $l: null){
    position: fixed;
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
}

@mixin mx($value){
    margin-right: $value;
    margin-left: $value;
}

@mixin my($value){
    margin-top: $value;
    margin-bottom: $value;
}

@mixin px($value){
    padding-right: $value;
    padding-left: $value;
}

@mixin py($value){
    padding-top: $value;
    padding-bottom: $value;
}

@mixin divider($direction, $gap, $size: 2px, $colur: $colour-second){
    padding-#{$direction}: $gap / 2;
    border-#{$direction}: $size solid $colur;
    margin-#{$direction}: $gap / 2;
}

@mixin rm-divider($direction){
    padding-#{$direction}: 0;
    border-#{$direction}: none;
    margin-#{$direction}: 0;
}

@mixin scheme-card($colour, $flex-dir){
    border: 3px solid $colour;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;

    
    
    .logo{
        width: 100%;
        height: 150px;
        background-color: $colour;
    }
    
    .text{
        padding: 20px;
        flex: 1;
        display: flex;
        flex-direction: column;
        *{
            min-width: 0;
            min-height: 0;
        }
        h2{
            margin-bottom: 20px;
            
        }

        a{
            margin-top: auto;
        }

        @content;
    }
    
    @include mq-range("sm", "xl"){
        flex-direction: $flex-dir;

        .logo{
            min-width: 150px;
            width: auto;
            height: auto;
        }
    }
}