$font-path-local: "../fonts";
$img-path-local: "../images";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700&display=swap');

@font-face {
    font-family: 'icomoon';
    src:  url('#{$font-path-local}/icomoon.ttf?x7c0h8');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('#{$font-path-local}/fontawesome-webfont.woff?v=4.0.3');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FontAwesome Brand';
    src: url('#{$font-path-local}/fa-brands-400.woff2') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FontAwesome Solid';
    src: url('#{$font-path-local}/fontawesome-webfont.woff?v=4.0.3');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

$stack-noto: 'Noto Sans', sans-serif;
$stack-titillium: 'Titillium Web', 'Trebuchet MS', sans-serif;
$font-iconmoon: 'icomoon' !important;
$font-fa: 'FontAwesome' !important;
$font-fab: 'FontAwesome Brand' !important;

$colour-prim: #F9EFDB;
$colour-prim-drkr: #ebd9b4;
$colour-second: #9dbc98;
$colour-second-drkr: #638889;
$colour-treehouse: #5fcf80;
$colour-netmatters: #333645;

$grad-percent: 25%;
$diff: -2px;
$deg: 45deg;

$icon-rarrow        : "\E906";
$icon-linkedin      : "\F0E1";
$icon-chevron-down  : "\f078";
$icon-chevron-up    : "\f077";
$icon-github        : "\f09b";
$icon-phone         : "\f095";
$icon-email         : "\f0e0";
$icon-html          : "\f13b";
$icon-css           : "\f38b";
$icon-sass          : "\f41e";
$icon-js            : "\f3b8";
$icon-url-tailwind  : "https://api.iconify.design/simple-icons/tailwindcss.svg";
$icon-url-php       : "https://api.iconify.design/skill-icons/php-light.svg";
$icon-url-laravel   : "https://api.iconify.design/cib/laravel.svg";
$icon-url-bootstrap : "https://api.iconify.design/simple-icons/bootstrap.svg";
$icon-url-php2      : "https://api.iconify.design/devicon-plain/php.svg";

$break-points : (
    "xs"    : 480px,
    "sm"    : 576px,
    "md"    : 768px,
    "lg"    : 992px,
    "xl"    : 1260px,
    "2xl"   : 1400px,
    "3xl"   : 1536px,
);

$tech-icons: (
    "html": "#{$img-path-local}/icons/html5.svg",
    "css": "#{$img-path-local}/icons/css3-alt.svg",
    "sass": "#{$img-path-local}/icons/sass.svg",
    "java": "#{$img-path-local}/icons/java.svg",
    "python": "#{$img-path-local}/icons/python.svg",
    "r": "#{$img-path-local}/icons/r-project.svg",
    "sql": "https://api.iconify.design/ph/file-sql-light.svg",
    "github": "#{$img-path-local}/icons/github.svg",
    "vs-code": "https://api.iconify.design/akar-icons/vscode-fill.svg",
    "jet-brains": "https://api.iconify.design/simple-icons/jetbrains.svg",
    "js": "https://api.iconify.design/raphael/js.svg",
    "php": "https://api.iconify.design/skill-icons/php-dark.svg?color=black",
);

$bg-properties: (
    ".banner-bg-br": (
        "deg": -45deg,
        "colour": $colour-prim-drkr,
        "bg-x": 75%,
        "bg-y": 75%,
    ),
    ".banner-bg-bl": (
        "deg": 45deg,
        "colour": $colour-second,
        "bg-x": 25%,
        "bg-y": 75%,
    ),
    ".banner-bg-tr": (
        "deg": 225deg,
        "colour": $colour-second,
        "bg-x": 75%,
        "bg-y": 25%,
    ),
    ".banner-bg-tl": (
        "deg": -225deg,
        "colour": $colour-prim-drkr,
        "bg-x": 25%,
        "bg-y": 25%,
    ),
    ".js .banner-bg-br": (
        "deg": -45deg,
        "colour": $colour-prim-drkr,
        "bg-x": 50%,
        "bg-y": 50%,
    ),
    ".js .banner-bg-bl": (
        "deg": 45deg,
        "colour": $colour-second,
        "bg-x": 0%,
        "bg-y": 100%,
    ),
    ".js .banner-bg-tr": (
        "deg": 225deg,
        "colour": $colour-second,
        "bg-x": 100%,
        "bg-y": 0%,
    ),
    ".js .banner-bg-tl": (
        "deg": -225deg,
        "colour": $colour-prim-drkr,
        "bg-x": 50%,
        "bg-y": 50%,
    ),
);

$contact-grid-areas : ("fname","lname","email","telephone","subject","msgarea","message","submit");