.content{
    position: relative;
}


.sidebar{
    @include fixed-pos($t: 0, $l: 0, $r: 0);
    @include show-at-viewport("md");
    z-index: 10;
    width: 200px;
    height: 100vh;
    background-color: $colour-prim;
    border-right: 5px solid $colour-second;
}


.initials{
    font-size: 4rem;
    border-bottom: 5px solid $colour-second;
    width: 200px;
    height: 200px;
    text-align: center;

    h1{
        font-weight: 900;
    }
}


.socials{
    border-top: 5px solid $colour-second;
    padding-top: 25px;
    display: flex;
    gap: 20px;
    justify-content: center;
}


.main-content{
    position: relative;
    float: right;
    width: 100%;
    @include mq("md"){
        width: calc(100% - 200px);
        margin-left: 200px;
    }
}


.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // z-index: 3;
    &-bg{
        isolation: isolate;
        z-index: 1;
    }
}


.closing-bg{
    @include fixed-pos($t:0, $r:0, $l:200px, $b:0);
    z-index: 3;
    display: none;

    &-tl{
        display: block;
        width: 100%;
        height: 100%;
        background:
            linear-gradient(
                -225deg,
                $colour-second 0 (1 * $grad-percent),
                transparent 0 (2 * $grad-percent),
            );
        background-size: 200% 200%;
        background-position: 50% 50%;
    }

    &-br {
        @include fixed-pos($t:0, $r:0, $l:0, $b:0);
        display: block;
        width: 100%;
        height: 100%;
        background:
        linear-gradient(
                -45deg,
                $colour-second 0 (1 * $grad-percent),
                transparent 0 (2 * $grad-percent),
            );
        background-size: 200% 200%;
        background-position: 50% 50%;
    }
}



.banner-bg-tl {
    @include abs-pos($t:0, $l: 0);
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    background:
        linear-gradient(
            -225deg,
            $colour-prim-drkr 0 (1 * $grad-percent),
            transparent 0 (2 * $grad-percent),
        );
    background-size: 200% 200%;
    background-position: 25% 25%;
    //animation: gradient 15s ease infinite;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.banner-bg-br {
    @include abs-pos($t:0, $l: 0);
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    background:
       linear-gradient(
            -45deg,
            $colour-prim-drkr 0 (1 * $grad-percent),
            transparent 0 (2 * $grad-percent),
        );
    background-size: 200% 200%;
    background-position: 75% 75%;
}

.banner-bg-bl {
    @include abs-pos($t:0, $l: 0);
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    background:
       linear-gradient(
            45deg,
            $colour-second 0 (1 * $grad-percent),
            transparent 0 (2 * $grad-percent),
        );
    background-size: 200% 200%;
    background-position: 25% 75%;
}

.banner-bg-tr {
    @include abs-pos($t:0, $l: 0);
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    background:
       linear-gradient(
            225deg,
            $colour-second 0 (1 * $grad-percent),
            transparent 0 (2 * $grad-percent),
        );
    background-size: 200% 200%;
    background-position: 75% 25%;
}


.js .banner-bg-tl {
    @include abs-pos($t:0, $l: 0);
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    background:
        linear-gradient(
            -225deg,
            $colour-prim-drkr 0 (1 * $grad-percent),
            transparent 0 (2 * $grad-percent),
        );
    background-size: 200% 200%;
    background-position: 50% 50%;
    //animation: gradient 15s ease infinite;
}

.js .banner-bg-br {
    @include abs-pos($t:0, $l: 0);
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    background:
       linear-gradient(
            -45deg,
            $colour-prim-drkr 0 (1 * $grad-percent),
            transparent 0 (2 * $grad-percent),
        );
    background-size: 200% 200%;
    background-position: 50% 50%;
}

.js .banner-bg-bl {
    @include abs-pos($t:0, $l: 0);
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    background:
       linear-gradient(
            45deg,
            $colour-second 0 (1 * $grad-percent),
            transparent 0 (2 * $grad-percent),
        );
    background-size: 200% 200%;
    background-position: 0% 100%;
}

.js .banner-bg-tr {
    @include abs-pos($t:0, $l: 0);
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    background:
       linear-gradient(
            225deg,
            $colour-second 0 (1 * $grad-percent),
            transparent 0 (2 * $grad-percent),
        );
    background-size: 200% 200%;
    background-position: 100% 0%;
}

.spectrum-background {
    background:
       linear-gradient(
            -45deg,
            $colour-prim-drkr 0 (1 * $grad-percent),
            transparent 0 (2 * $grad-percent),
        ),
        linear-gradient(
            -225deg,
            $colour-prim-drkr 0 (1 * $grad-percent),
            transparent 0 (2 * $grad-percent),
        ),
       linear-gradient(
            225deg,
            $colour-second 0 (1 * $grad-percent),
            transparent 0 (2 * $grad-percent),
        ),
       linear-gradient(
            45deg,
            $colour-second 0 (1 * $grad-percent),
            transparent 0 (2 * $grad-percent),
        );
    background-blend-mode: multiply;
}


.container{
    @include px(15px);
    @include mx(auto);

    @include mq("lg"){
        width: 750px;
    }

    @include mq("xl"){
        width: 970px;
    }

    @include mq("2xl"){
        width: 1200px;
    }
}

.banner-text{
    position: relative;
    @include px(15px);
    margin: auto 0;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-container{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: flex-start;
        gap: 20px;
        @include my(30px);
        @include mq("xl"){
            flex-direction: row;
            @include my(auto);
        }
    }

    &-text{
        flex: 1;
         h2{
            margin-bottom: 10px;
         }
    }

    &-wrapper{
        flex: 3;
        width: 100%;
    }
}


.wrapper-portfolio{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    article{
        flex: 1 300px;
    }
}


.project-image{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: black;
    overflow-y: hidden;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
    }
}


.project-description{
    @include abs-pos($r:0, $l:0, $b: 100%);
    transition: all 0.25s ease;
    height: calc(100% - 40px);
    @include px(20px);
    background-color: rgba(black, 0.85);
    color: white;
    display: flex;
    align-items: center;

    @include mq("xs"){
        @include px(40px);
    }

}


.tech-stack{
    @include abs-pos($b:0, $r: 0, $l:0);
    height: 40px;
    background-color: rgba(black, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.portfolio{
    display: flex;
    align-items: center;

    &-container{
        @include my(30px);
    }

    &-title{
        font-size: 2.5rem;
        @include my(30px);
    }
}


.about{
    display: flex;
    @include my(auto);
    @include py(60px);
    flex-direction: column;

    &-text{
        @include rm-divider("right");
        @include divider("bottom", 60px);
    }

    &-tech{
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-list{
            display: grid;
            gap: 5px 25px;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        }
    
        h3{
            margin-bottom: 10px;
        }
    
        li{
            margin-bottom: 3px;
        }
    }

    @include mq("lg"){
        flex-direction: row;

        &-text{
            flex:5;
            @include rm-divider("bottom");
            @include divider("right", 60px);
        }

        &-tech-list{
            display: block;
        }
    }

    &-main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}


.scs-scheme{
    @include py(20px);

    h2{
        padding-bottom: 10px;
        border-bottom: 2px solid $colour-second;
        margin-bottom: 10px;
    }
}


.scheme{
    &-main{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-cards{
        display: flex;
        flex-direction: column;
        gap: 30px 20px;
        @include mq("xl"){
            flex-direction: row;
        }
    }
}


.treehouse{
    @include scheme-card($colour-treehouse, row-reverse){
        p{
            margin-bottom: 20px;
        }
    }
}

.netmatters{
    @include scheme-card($colour-netmatters, row){
        ul{
            margin-bottom: 20px;
        }

        li{
            list-style-type: disc;
            list-style-position: inside;
        }
    }
}

.btm-scroll{
    margin-top: 20px;
}
