.scroll-text{
    display: block;
    text-align: center;
}

.about-text{
    h2{
        margin-bottom: 20px;
        font-size: 4rem;
        span{
            letter-spacing: .4rem;
        }
    }

    p{
        margin-bottom: 15px;
    }

    a{
        color: darken($colour-second, 15%);
    }
}