*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: $stack-titillium;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}