*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: $stack-titillium;
    background-color: $colour-prim;
}

textarea{
    font-family: $stack-titillium;
}

section{
    min-height: 100vh;
    @include mq("3xl"){
        min-height: auto;
        @include py(50px);
    }
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

p{
    min-width: 0;
}

code {
    display: block;
    overflow-x: auto;
    padding: 1em;
}