*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: $stack-titillium;
    background-color: $colour-prim;
}

section{
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

p{
    min-width: 0;
}
