[class^="icon-"], [class*=" icon-"] {
    font-family:  $font-iconmoon;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="fa-"], [class*=" fa-"] {
    font-family:  $font-fa;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-rarrow{
    @include icon($icon-rarrow, $fsize: 14px);
}