.nav-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    @include my(80px);
}

.nav-item-side{
    width: 100%;
    text-align: center;
}

.nav-link-side{
    @include py(5px);
}